<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>执行抖音</title>
</head>
<body>

</body>
<script th:inline="javascript" src="/static/js/webmssdk.js"></script>
<script th:inline="javascript">
    window.onload = function () {
        window.byted_acrawler.init({
            aid: 6383,
            isSDK: false,
            boe: false,
            v: true,
            enablePathList:  ['/webcast/*', '/aweme/v1/', '/aweme/v2/*','/v1/message/send'],
            region: "cn",
        });
        window.byted_acrawler.init({
            "aid": 6383,
            "isSDK": true,
            "boe": false,
            "enablePathList": [
                "/passport/web/send_code/",
                "/passport/web/email/send_code/",
                "/passport/web/validate_code/",
                "/passport/web/email/verify/",
                "/passport/web/mobile/check_code/",
                "/passport/web/email/check_code/",
                "/passport/web/sms_login/",
                "/passport/web/sms_login_only/",
                "/passport/web/sms_login_continue/",
                "/passport/web/email/login/",
                "/passport/web/email/code_login/",
                "/passport/web/email/register_verify_login/",
                "/passport/web/email/register_verify/",
                "/passport/web/user/login/",
                "/passport/web/auth/login/",
                "/passport/web/auth/login_only/",
                "/passport/web/auth/bind_login/",
                "/passport/web/mobile/bind_login/",
                "/passport/web/mobile_email_register/",
                "/passport/mobile/register/",
                "/passport/auth/show_oauth_mobile/",
                "/passport/web/logout/",
                "/passport/account/info/v2/",
                "/passport/web/auth/bind_with_mobile_login/",
                "/passport/web/auth/bind_with_email_login/",
                "/passport/web/get_qrcode/",
                "/passport/web/check_qrconnect/",
                "/passport/web/scan_qrcode/",
                "/passport/web/confirm_qrcode/",
                "/passport/web/web_login/",
                "/passport/web/auth/share_login/",
                "/passport/auth/wap_login/",
                "/passport/web/email/register/",
                "/passport/web/email/register/v2/",
                "/passport/web/wechat/get_qrcode/",
                "/passport/web/wechat/check_qrcode_status/",
                "/passport/web/mobile/bind/",
                "/passport/web/email/bind/",
                "/passport/web/auth/bind/",
                "/passport/web/auth/unbind/",
                "/passport/web/auth/switch_bind/",
                "/passport/web/mobile/change/",
                "/passport/web/email/change/",
                "/passport/web/password/reset/",
                "/passport/web/email/password/reset/",
                "/passport/web/password/reset_by_ticket/",
                "/passport/web/password/reset_by_email_ticket/",
                "/passport/web/password/change/",
                "/passport/web/password/update/",
                "/passport/web/email/change_password/",
                "/passport/web/password/set/",
                "/passport/password/has_set/",
                "/passport/web/password/has_set/",
                "/passport/web/email/password/reset_and_login/",
                "/passport/web/account/verify/",
                "/passport/web/auth/verify/",
                "/passport/web/sms/authorize/",
                "/passport/auth/cancel_verify_way/",
                "/passport/web/cancel/check/",
                "/passport/web/cancel/confirm/",
                "/passport/web/cancel/login/",
                "/passport/web/user/check_mobile_registered/",
                "/passport/web/user/check_email_registered",
                "/passport/qrcode_twostep_verify/scan_qrcode/",
                "/passport/qrcode_twostep_verify/confirm_by_ticket/",
                "/passport/open/auth_info/v2/",
                "/passport/open/send_code/",
                "/passport/open/web/sms/auth/",
                "/passport/open/web/account/auth/",
                "/passport/open/web/third_party/auth/",
                "/passport/open/get_qrcode/",
                "/passport/open/check_qrcode",
                "/passport/open/to_scan_qrcode/",
                "/passport/open/scan_qrcode/",
                "/passport/open/confirm_qrcode/",
                "/passport/open/web/auth/",
                "/passport/web/account/info/",
                "/passport/web/account/set/",
                "/web/user/get/oauth_profile/",
                "/web/user/update/upload_avatar/",
                "/web/user/update/user_info/",
                "/web/user/check/default_info/",
                "/web/user/settings/{aid}/default_background_image_list/",
                "/web/user/settings/{aid}/default_avatar_list/",
                "/web/user/settings/recommend_name/",
                "/web/user/upload/pic/",
                "/web/user/get/remain_update_times/",
                "/user/web/download/image/",
                "/user/web/download/image/v2/",
                "/passport/aff/web/mobile/send_code/",
                "/passport/aff/web/email/send_code/",
                "/passport/aff/web/mobile/validate_code/",
                "/passport/aff/web/email/verify/",
                "/passport/aff/web/mobile/check_code/",
                "/passport/aff/web/email/check_code/",
                "/passport/aff/web/mobile/sms_login/",
                "/passport/aff/web/email/code_login/",
                "/passport/aff/web/user/login/",
                "/passport/aff/web/oauth/login/call/",
                "/passport/aff/web/oauth/login_only/",
                "/passport/aff/web/oauth/login/",
                "/passport/aff/web/subject/login_list/",
                "/passport/aff/web/subject/login/",
                "/passport/aff/web/logout/",
                "/passport/aff/web/email/register/only_user/",
                "/passport/aff/web/email/register/",
                "/passport/aff/web/mobile/register/only_user/",
                "/passport/aff/web/mobile/register/",
                "/passport/aff/web/mobile/password/reset/",
                "/passport/aff/web/email/password/reset/",
                "/passport/aff/web/invitation/mobile/invite/",
                "/passport/aff/web/invitation/email/invite/",
                "/passport/aff/web/invitation/lark/invite/",
                "/passport/aff/web/invitation/list/",
                "/passport/aff/web/invitation/cancel/",
                "/passport/aff/web/invitation/resend/",
                "/passport/aff/web/invitation/update/",
                "/passport/aff/web/invitation/check/",
                "/passport/aff/web/invitation/accept/",
                "/passport/aff/web/subject/username/create/",
                "/passport/aff/web/subject/mobile/create/",
                "/passport/aff/web/subject/email/create/",
                "/passport/aff/web/subject/all/list/",
                "/passport/aff/web/subject/deputy/list/",
                "/passport/aff/web/subject/identity/list/",
                "/passport/aff/web/deputy/update/",
                "/passport/aff/web/deputy/freeze/",
                "/passport/aff/web/deputy/delete/",
                "/passport/aff/web/subject/update/",
                "/passport/aff/web/subject/freeze/",
                "/passport/aff/web/resource/list/",
                "/passport/aff/web/role/create/",
                "/passport/aff/web/role/update/",
                "/passport/aff/web/role/ban/",
                "/passport/aff/web/role/list/",
                "/passport/aff/web/role/info/",
                "/passport/aff/web/user/create_with_role/",
                "/passport/aff/web/user_role/add/",
                "/passport/aff/web/user_role/del/",
                "/passport/aff/web/user_role/list/",
                "/passport/aff/web/user_role/all/list/",
                "/passport/aff/web/user/permissions/",
                "/passport/aff/web/admin/successor/send_code/",
                "/passport/aff/web/admin/transfer/",
                "/passport/aff/web/member/switch/",
                "/send_activation_code/",
                "/send_activation_code/v2/",
                "/send_email_activate_link/",
                "/send_email_activate_link/v2/",
                "/send_email_activate_code/",
                "/send_email_activate_code/v2/",
                "/check_login/",
                "/quick_login/",
                "/quick_login/v2/",
                "/quick_login_only/",
                "/account_login/",
                "/account_login/v2/",
                "/passport/auth/wap_login/",
                "/bind_with_mobile_login/",
                "/auth/login/",
                "/auth/login_only/",
                "/logout/",
                "/activate_email/code_login/",
                "/activate_email/register/",
                "/activate_email/register/v2/",
                "/register/",
                "/register/v2/",
                "/sso/send_email_activate_code/",
                "/reset_password/",
                "/activate_email/reset_password/",
                "/bind_mobile/",
                "/change_mobile/",
                "/quick_auth/",
                "/get_qrcode/",
                "/check_qrconnect/",
                "/scan_qrcode/",
                "/confirm_qrcode/",
                "/mobile_email_register/"
            ],
            "urlRewriteRules": [
                [
                    "/send_activation_code/",
                    "/passport/sso/send_activation_code/"
                ],
                [
                    "/send_activation_code/v2/",
                    "/passport/sso/send_activation_code/v2/"
                ],
                [
                    "/send_email_activate_link/",
                    "/passport/sso/send_email_activate_link/"
                ],
                [
                    "/send_email_activate_link/v2/",
                    "/passport/sso/send_email_activate_link/v2/"
                ],
                [
                    "/send_email_activate_code/",
                    "/passport/sso/send_email_activate_code/"
                ],
                [
                    "/send_email_activate_code/v2/",
                    "/passport/sso/send_email_activate_code/v2/"
                ],
                [
                    "/check_login/",
                    "/passport/sso/check_login/"
                ],
                [
                    "/quick_login/",
                    "/passport/sso/quick_login/"
                ],
                [
                    "/quick_login/v2/",
                    "/passport/sso/quick_login/v2/"
                ],
                [
                    "/quick_login_only/",
                    "/passport/sso/quick_login_only/"
                ],
                [
                    "/account_login/",
                    "/passport/sso/account_login/"
                ],
                [
                    "/account_login/v2/",
                    "/passport/sso/account_login/v2/"
                ],
                [
                    "/passport/auth/wap_login/",
                    "/passport/sso/passport/auth/wap_login/"
                ],
                [
                    "/bind_with_mobile_login/",
                    "/passport/sso/bind_with_mobile_login/"
                ],
                [
                    "/auth/login/",
                    "/passport/sso/auth/login/"
                ],
                [
                    "/auth/login_only/",
                    "/passport/sso/auth/login_only/"
                ],
                [
                    "/logout/",
                    "/passport/sso/logout/"
                ],
                [
                    "/activate_email/code_login/",
                    "/passport/sso/activate_email/code_login/"
                ],
                [
                    "/activate_email/register/",
                    "/passport/sso/activate_email/register/"
                ],
                [
                    "/activate_email/register/v2/",
                    "/passport/sso/activate_email/register/v2/"
                ],
                [
                    "/register/",
                    "/passport/sso/register/"
                ],
                [
                    "/register/v2/",
                    "/passport/sso/register/v2/"
                ],
                [
                    "/sso/send_email_activate_code/",
                    "/passport/sso/sso/send_email_activate_code/"
                ],
                [
                    "/reset_password/",
                    "/passport/sso/reset_password/"
                ],
                [
                    "/activate_email/reset_password/",
                    "/passport/sso/activate_email/reset_password/"
                ],
                [
                    "/bind_mobile/",
                    "/passport/sso/bind_mobile/"
                ],
                [
                    "/change_mobile/",
                    "/passport/sso/change_mobile/"
                ],
                [
                    "/quick_auth/",
                    "/passport/sso/quick_auth/"
                ],
                [
                    "/get_qrcode/",
                    "/passport/sso/get_qrcode/"
                ],
                [
                    "/check_qrconnect/",
                    "/passport/sso/check_qrconnect/"
                ],
                [
                    "/scan_qrcode/",
                    "/passport/sso/scan_qrcode/"
                ],
                [
                    "/confirm_qrcode/",
                    "/passport/sso/confirm_qrcode/"
                ],
                [
                    "/mobile_email_register/",
                    "/passport/sso/mobile_email_register/"
                ]
            ]
        });
        var p = new XMLHttpRequest;
        p.open("GET", [[${url}]], !0);
        p.timeout = 60000;
        p.setRequestHeader("Accept", "application/json, text/plain, */*");
        p.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        p.setRequestHeader("x-tt-passport-csrf-token", "89fedbd4e9c37c1d3d7af4c84664cb7f");
        p.send();
    }
</script>
</html>